* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #0B5EC8;
}
header h2 {
    font-family: 'Krona One', sans-serif;
    font-weight: 300;
    padding: 10px;
    position: absolute;
    color: #fff;
}
#bg1 {
    width: 100%;
    height: 568px;
    position: absolute;
}
header button {
    font-weight: 300;
    box-sizing: border-box;
    
position: absolute;
width: 115px;
height: 46px;
font-size: 1.3rem ;
color: #fff;
background: transparent;
border: 3px solid #FFFFFF;
border-radius: 10px;
right: 10px;
margin-top: 10px;
transition: all ease 0.7s;
}
header button:hover {
    background: #fff;
    color: #0B5EC8;
}
nav {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 190px;
}
nav li {
    display: inline;
}
nav a {
    color: #fff;
        font-size: 1.1rem;
        display: inline-block;
        padding: 1rem;
        text-decoration: none;
        transition: all 1s none;
        font-family: 'Poppins', sans-serif;
        transition: all ease 0.7s;
}
nav a:hover {
    text-decoration: underline;
}
@media (max-width : 768px) {
    nav {
      display: none;
      margin-left: 120px;
    }
}
@media (min-width : 1000px) {
    nav {
        margin-left: 420px;
    }
  }
 main #box1 {
     margin-top: 200px;
     margin-left: 50px;
     border-radius: 20px;
     position: absolute;
   width: 275px;
   height: 185px;
   background: linear-gradient(108.19deg, rgba(196, 196, 196, 0.4) 1.19%, rgba(255, 255, 255, 0) 100%);
   backdrop-filter: blur(100px);
  }
  #box1 p {
      padding: 30px;
      margin-top: 6px;
      font-size: 1.2rem;
      text-align: center;
      line-height: 28px;
      color: #fff;
      font-weight: 300;
      font-family: 'Krona One', sans-serif;
    }
    @media (min-width : 768px) {
        main #box1 {
            width: 500px;
            margin-left: 140px;
        }
        #box1 p {
            font-size: 1.7rem;
            line-height: 35px;
        }
    }
    @media (min-width : 1000px) {
        main #box1 {
            margin-left: 260px;
        }
    }
    @media (min-width : 1200px) {
        main #box1 {
            margin-left: 400px;
        }
    }
    main #btn1 {
        position: absolute;
        width: 115px;
        height: 46px;
        font-family: 'Krona One', sans-serif;
        color: #0B5EC8;
        font-weight: 300;
        border: none;
        border-radius: 10px;
        margin-top: 480px;
        margin-left: 20px;
        background: #fff;
        transition: all ease 1s;
    }
    main #btn1:hover {
        border: 4px solid #0B5EC8;
        background: transparent;
    }
    main #btn2 {
      position: absolute;
      width: 115px;
      height: 46px;
      font-family: 'Krona One', sans-serif;
      color: #fff;
      font-weight: 300;
      background: transparent;
      border: 3px solid #FFFFFF;
      border-radius: 10px;
      margin-top: 480px;
      margin-left: 150px;
      transition: all 1s ease;
    }
    
    main #btn2:hover {
        background: #fff;
        color: #0B5EC8;
    }
    .container {
        width: 280px;
        height: 300px;
        border: 2px solid #fff;
        background: transparent;
        border-radius: 10px;
        position: absolute;
        margin-top: 600px;
        left: 12%;
    }
    .container p {
        color: #fff;
        font-family: "poppins", sans-serif;
        padding: 15px;
        font-size: 1rem;
        /* display: inline-block; */
    }
    .container button {
        display: inline-block;
        width: 125px;
        height: 35px;
        font-family: 'Krona One', sans-serif;
        font-weight: 300;
        border: none;
        border-radius: 10px;
        margin-left: 15px;
        margin-top: 10px;
        background: #FFA81B;
        color: #fff;
    }
    br {
        display: none;
    }
    .container #bg2 {
        width: 200px;
        height: 200px;
        display: none;
        border-radius: 10px;
        position: absolute;
        right: 17px;
        top: 23px;
    }
    @media (min-width : 768px) {
    .container {
        padding: 20px;
        font-size: 1.1rem;
        width: 720px;
        margin-left: -70px;
        height: 250px;
    }
    .container br {
        display: block;
    }
    .container #bg2 {
        display: block;
    }
}
@media (min-width : 1000px) {
    .container {
        width: 920px;
        height: 300px;
    }
    .container p {
        font-size: 1.4rem;
    }
    .container #bg2 {
        height: 240px;
        width: 240px;
        top: 20px;
    }
}
@media (min-width : 1200px) {
    .container {
        margin-left: 55px;
    }
}
.container2 #header {
    position: absolute;
    font-family: 'Krona One', sans-serif;
    top: 950px;
    font-size: 1.5rem;
    color: #fff;
    padding-left: 20px;
    font-weight: 300;
}
.container2 #header span {
    color: #FFA81B;
}
.container2 .box2 {
    margin-top: 1030px;
    margin-left: 70px;
    position: absolute;
    width: 225px;
    height: 325px;
    background: rgba( 255, 255, 255, 0.45 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7.5px );
-webkit-backdrop-filter: blur( 7.5px );
border-radius: 10px;
    position: absolute;
    border: 1px solid #fff;
}
.box2 #bg3 {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 11px;
}
.box2 #name1 {
    position: absolute;
    font-family: "poppins", sans-serif;
    font-weight: 800;
    color: #fff;
    padding-left: 10px;
}
.box2 #owner1 {
    position: absolute;
    font-family: "poppins", sans-serif;
    color: #fff;
    padding-left: 10px;
    padding-top: 29px;
    font-size: 0.8rem;
}
.box2 hr {
    height: 2px;
    background-color: #fff;
    margin-top: 55px;
    border: none;
}
.box2 #bg4 {
    width: 35px;
    height: 35px;
    bottom: 2px;
    position: absolute;
}
.box2 #price1 {
    font-family: "poppins", sans-serif;
    color: #fff;
    position: absolute;
    bottom: 7px;
    left: 37px;
}
.box2 #icon1 {
    bottom: 7px;
    color: #fff;
    position: absolute;
    right: 10px;
}
.container2 .box3 {
    margin-top: 1430px;
    margin-left: 70px;
    position: absolute;
    width: 225px;
    height: 325px;
    background: rgba( 255, 255, 255, 0.45 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7.5px );
-webkit-backdrop-filter: blur( 7.5px );
border-radius: 10px;
    position: absolute;
    border: 1px solid #fff;
}

.box3 #bg5 {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 11px;
}
.box3 #name2 {
    position: absolute;
    font-family: "poppins", sans-serif;
    font-weight: 800;
    color: #fff;
    padding-left: 10px;
}
.box3 #owner2 {
    position: absolute;
    font-family: "poppins", sans-serif;
    color: #fff;
    padding-left: 10px;
    padding-top: 29px;
    font-size: 0.8rem;
}
.box3 hr {
    height: 2px;
    background-color: #fff;
    margin-top: 55px;
    border: none;
}
.box3 #bg6 {
    width: 35px;
    height: 35px;
    bottom: 2px;
    position: absolute;
}
.box3 #price2 {
    font-family: "poppins", sans-serif;
    color: #fff;
    position: absolute;
    bottom: 7px;
    left: 37px;
}
.box3 #icon2 {
    bottom: 7px;
    color: #fff;
    position: absolute;
    right: 10px;
}
.container2 .box4 {
    margin-top: 1830px;
    margin-left: 70px;
    position: absolute;
    width: 225px;
    height: 325px;
    background: rgba( 255, 255, 255, 0.45 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7.5px );
-webkit-backdrop-filter: blur( 7.5px );
border-radius: 10px;
    position: absolute;
    border: 1px solid #fff;
}
.box4 #bg7 {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 11px;
}
.box4 #name3 {
    position: absolute;
    font-family: "poppins", sans-serif;
    font-weight: 800;
    color: #fff;
    padding-left: 10px;
}
.box4 #owner3 {
    position: absolute;
    font-family: "poppins", sans-serif;
    color: #fff;
    padding-left: 10px;
    padding-top: 29px;
    font-size: 0.8rem;
}
.box4 hr {
    height: 2px;
    background-color: #fff;
    margin-top: 55px;
    border: none;
}
.box4 #bg8 {
    width: 35px;
    height: 35px;
    bottom: 2px;
    position: absolute;
}
.box4 #price3 {
    font-family: "poppins", sans-serif;
    color: #fff;
    position: absolute;
    bottom: 7px;
    left: 37px;
}
.box4 #icon3 {
    bottom: 7px;
    color: #fff;
    position: absolute;
    right: 10px;
}
@media(min-width : 768px) {
    .container2 #header {
        top: 900px;
        font-size: 1.4rem;
    }
    .container2 .box2 {
        margin-top: 980px;
        display: inline-block;
    }
    .container2 .box3 {
        display: inline-block;
        margin-top: 980px;
        right: 70px;
    }
    .container2 .box4 {
        margin-top: 1400px;
        left: 200px;
    }
}
@media(min-width : 1000px) {
    .container2 #header {
        top: 940px;
        margin-left: 40px;
    }
    .container2 .box2 {
        margin-top: 1000px;
    }
    .container2 .box3 {
        margin-top: 1000px;
    }
    .container2 .box4 {
        margin-left: 200px;
        margin-top: 1000px;
        
    }
}
@media(min-width : 1200px) {
    .container2 .box4 {
        margin-left: 370px;
    }
    .container2 .box2 {
        margin-left: 140px;
    }
    .container2 .box3 {
    margin-right: 60px;
    }
}
.container3 #header2 {
    position: absolute;
    font-family: 'Krona One', sans-serif;
    top: 2230px;
    font-size: 1.5rem;
    color: #fff;
    padding-left: 20px;
    font-weight: 300;
}
.container3 #header2 span {
    color: #FFA81B;
}
.container3 .box1 {
    margin-top: 2350px;
    margin-left: 20px;
    position: absolute;
    width: 325px;
    height: 215px;
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    position: absolute;
    border: 1px solid #fff;
}
.container3 .box1 #top {
    color: #fff;
    font-family: 'Krona One', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    padding: 20px;
}
.container3 .box1 #text {
    font-weight: 100;
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    padding-left: 15px;
    padding-right: 20px;
}
.container3 .box2 {
    margin-top: 2605px;
    margin-left: 20px;
    position: absolute;
    width: 325px;
    height: 215px;
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    position: absolute;
    border: 1px solid #fff;
}
.container3 .box2 #top {
    color: #fff;
    font-family: 'Krona One', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    padding: 20px;
}
.container3 .box2 #text {
    font-weight: 100;
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    padding-left: 15px;
}
.container3 .box3 {
    margin-top: 2865px;
    margin-left: 20px;
    position: absolute;
    width: 325px;
    height: 215px;
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    position: absolute;
    border: 1px solid #fff;
}
.container3 .box3 #top {
    color: #fff;
    font-family: 'Krona One', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    padding: 20px;
}
.container3 .box3 #text {
    font-weight: 100;
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    padding-left: 15px;
    padding-right: 20px;
}
.container3 .box4 {
    margin-top: 3135px;
    margin-left: 20px;
    position: absolute;
    width: 325px;
    height: 215px;
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    position: absolute;
    border: 1px solid #fff;
}
.container3 .box4 #top {
    color: #fff;
    font-family: 'Krona One', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    padding: 20px;
}
.container3 .box4 #text {
    font-weight: 100;
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    padding-left: 15px;
    padding-right: 15px;
}
@media(min-width : 768px) {
    .container3 #header2 {
        top: 1800px;
    }
    .container3 .box1 {
        margin-top: 1900px;
    }
    br {
        display: none;
    }
    .container3 .box2 {
        margin-top: 2150px;
    }
    .container3 .box3 {
        margin-top: 1900px;
        right: 30px;
    }
    .container3 .box4 {
        margin-top : 2150px;
        right: 30px;
    }
}
@media(min-width : 1000px) {
    .container3 #header2 {
        top: 1370px;
        margin-left: 40px;
    }
    .container3 .box1 {
        margin-left: 75px;
        margin-top: 1450px;
    }
    .container3 .box2 {
        margin-top: 1720px;
        margin-left: 75px;
    }
    .container3 .box3 {
        margin-top: 1450px;
        right: 75px;
    }
    .container3 .box4 {
        margin-top: 1720px;
        right: 75px;
        
    }
}
@media(min-width : 1200px) {
    .container3 .box1 {
        margin-left: 170px;
        transform: scale(1.1);
        margin-top: 1460px;
    }
    .container3 .box2 {
        margin-left: 170px;
        transform: scale(1.1);
        margin-top: 1780px;
    }
    .container3 .box3 {
        margin-top: 1460px;
        transform: scale(1.1);
        right: 150px;
    }
    .container3 .box4 {
        margin-top: 1780px;
        right: 150px;
        transform: scale(1.1);
    }
}
.container4 #header {
    position: absolute;
    font-family: 'Krona One', sans-serif;
    top: 3400px;
    font-size: 1.5rem;
    color: #fff;
    padding-left: 20px;
    font-weight: 300;
}
.container4 #header span {
    color: #FFA81B;
}
.container4 .box1 {
    position: absolute;
    background-color: #fff;
    width: 335px;
    height: 500px;
    top: 3470px;
    margin-left: 20px;
    border-radius: 10px;
}
.container4 .box1 #top {
    color: #0B5EC8;
    font-family: 'Krona One', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    padding: 20px;
}
.container4 .box1 #bg1 {
    width: 300px;
    height: 410px;
    margin-left: 17px;
    border-radius: 10px;
}
.container4 .box2 {
    position: absolute;
    background-color: #fff;
    width: 335px;
    height: 500px;
    top: 4020px;
    margin-left: 20px;
    border-radius: 10px;
}
.container4 .box2 #top {
    color: #0B5EC8;
    font-family: 'Krona One', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    padding: 20px;
}
.container4 .box2 #bg2 {
    width: 300px;
    height: 410px;
    margin-left: 17px;
    border-radius: 10px;
}