* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #0B5EC8;
}
header h2 {
    font-family: 'Krona One', sans-serif;
    font-weight: 300;
    padding: 10px;
    position: absolute;
    color: #fff;
}
#bg1 {
    width: 100%;
    height: 568px;
    position: absolute;
}
header button {
    font-weight: 300;
    box-sizing: border-box;
    
position: absolute;
width: 115px;
height: 46px;
font-size: 1.3rem ;
color: #fff;
background: transparent;
border: 3px solid #FFFFFF;
border-radius: 10px;
right: 10px;
margin-top: 10px;
transition: all ease 0.7s;
}
header button:hover {
    background: #fff;
    color: #0B5EC8;
}
nav {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 190px;
}
nav li {
    display: inline;
}
nav a {
    color: #fff;
        font-size: 1.1rem;
        display: inline-block;
        padding: 1rem;
        text-decoration: none;
        transition: all 1s none;
        font-family: 'Poppins', sans-serif;
        transition: all ease 0.7s;
}
nav a:hover {
    text-decoration: underline;
}
@media (max-width : 768px) {
    nav {
      display: none;
      margin-left: 120px;
    }
}
@media (min-width : 1000px) {
    nav {
        margin-left: 420px;
    }
  }
 main #box1 {
     margin-top: 200px;
     margin-left: 50px;
     border-radius: 20px;
     position: absolute;
   width: 275px;
   height: 185px;
   background: linear-gradient(108.19deg, rgba(196, 196, 196, 0.4) 1.19%, rgba(255, 255, 255, 0) 100%);
   backdrop-filter: blur(100px);
  }
  #box1 p {
      padding: 30px;
      margin-top: 6px;
      font-size: 1.2rem;
      text-align: center;
      line-height: 28px;
      color: #fff;
      font-weight: 300;
      font-family: 'Krona One', sans-serif;
    }
    @media (min-width : 768px) {
        main #box1 {
            width: 500px;
            margin-left: 140px;
        }
        #box1 p {
            font-size: 1.7rem;
            line-height: 35px;
        }
    }
    @media (min-width : 1000px) {
        main #box1 {
            margin-left: 260px;
        }
    }
    @media (min-width : 1200px) {
        main #box1 {
            margin-left: 400px;
        }
    }
    main #btn1 {
        position: absolute;
        width: 115px;
        height: 46px;
        font-family: 'Krona One', sans-serif;
        color: #0B5EC8;
        font-weight: 300;
        border: none;
        border-radius: 10px;
        margin-top: 480px;
        margin-left: 20px;
        background: #fff;
        transition: all ease 1s;
    }
    main #btn1:hover {
        border: 4px solid #0B5EC8;
        background: transparent;
    }
    main #btn2 {
      position: absolute;
      width: 115px;
      height: 46px;
      font-family: 'Krona One', sans-serif;
      color: #fff;
      font-weight: 300;
      background: transparent;
      border: 3px solid #FFFFFF;
      border-radius: 10px;
      margin-top: 480px;
      margin-left: 240px;
      transition: all 1s ease;
    }
    
    main #btn2:hover {
        background: #fff;
        color: #0B5EC8;
    }
    .container {
        width: 280px;
        height: 270px;
        border: 2px solid #fff;
        background: transparent;
        border-radius: 10px;
        position: absolute;
        margin-top: 600px;
        margin-left: 20px;
    }
    .container p {
        color: #fff;
        font-family: "poppins", sans-serif;
        padding: 30px;
        font-size: 1.1rem;
    }
    .container button {
        width: 125px;
        height: 35px;
        font-family: 'Krona One', sans-serif;
        font-weight: 300;
        border: none;
        border-radius: 10px;
        margin-left: 30px;
        background: #FFA81B;
        color: #fff;
}
@media (min-width : 768px) {
    .container {
        width: 720px;
        br : none;
    }
}